main{
    background-color: rgb(127,255,212);
    min-height: 600px;
    padding:8% 17% 0;
}
#grid{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
#grid .cell{
    height: calc(100% / 10);
    width: calc(100% / 10);
    color: black;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    display: flex;
}
#grd .cell .clicked{
    background-color: aqua;
}